.header {
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  margin: 0;
  background: pink;
}

.navigate {
  position: absolute;
  top: 60px;
  left: 0;
}